<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSTECH-ABOUT-US</title>
    <link href="style3.css" rel="stylesheet">
</head>
<body>
    <div class="about-section">
      
        <h1>About Us Page</h1>
        <p>Welcome to the Hostel Automation System project, brought to you by our dedicated team of four individuals who are passionate about improving the living experience for students in hostels.</p>
        <p>Our mission is to make hostel life more comfortable, secure, and convenient for students, ensuring they feel at home during their educational journey.</p>
      
      </div>

    <h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
          <img src="images/services/teammebers/person" alt="Elorm" style="width:100" height="100">
          <div class="container">
            <h2>Titiati Elorm</h2>
            <p>tekkwaku7@gmail.com</p>
            <p><button class="button">0554568090</button></p>
          </div>
        </div>
      </div>


  <div class="column">
    <div class="card">
      <img src="images/services/teammebers/person" alt="Elorm" style="width:100" height="100">
      <div class="container">
        <h2>Tawfik Hidir</h2>
        <p>tawfeeqhidir@gmail.com</p>
        <p><button class="button">0546296039</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/services/teammebers/person" alt="Elorm" style="width:100" height="100">
      <div class="container">
        <h2>Agbley Cecil</h2>
        <p>cecilkwabs@gmail.com</p>
        <p><button class="button">0591450433</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/services/teammebers/ezekiel.jpeg" alt="Elorm" style="width:200" height="100">
      <div class="container">
        <h2>Ezekiel Asigbey</h2>
        <p>ezasigbey@gmail.com</p>
        <p><button class="button">0247055443</button></p>
      </div>
    </div>
  </div>
</div>
<a href=homepage.html>H</a>
</body>
</html>