<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOSTECH</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul class="navbar">
        <li><a href="homepage.html" class="col1">HOSTECH</a></li>
        <li><a href="homepage.html">Home</a></li>
        <li><a class="active" href="services.html">Services</a></li>
        <li><a href="info.html">Info</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="index.html">Sign Out</a></li>
    </ul>
</nav>
<section>
    <div class="image-container">
        <div class="image-switch">
            <img src="/static/images/services/temperature.jpg" alt="temp" width="300" height="300">
            
            <p class="image-name">Temperature Reader</p> 
        </div>

        <div class="image-switch">
            <img src="/static/images/services/ceiling-fan.jpg" alt="Fan" width="300" height="300">
            <p class="image-name">Door on</p> 
               <form action="/door/on" method="post">
                                <p class="image-name">
                                    <button name="on"> 

                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"> 
                                            </span>
                                        </label>

                                </button></p> 
                            </form>
                       
                            <p class="image-name">Door off</p> 
                            <form action="/door/off" method="post">
                                             <p class="image-name">
                                                 <button name="on"> 
             
                                                     <label class="switch">
                                                         <input type="checkbox">
                                                         <span class="slider round"> 
                                                         </span>
                                                     </label>
             
                                             </button></p> 
                                         </form>
        </div>

        <div class="image-switch">
            <img src="/static/images/services/door.jpg" alt="door" width="300" height="300">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p class="image-name">Door Control</p> 
        </div>

       
           
                <div class="image-switch">
                    <img src="/static/images/services/light.jpg" alt="light" width="300" height="300">
                     <p class="image-name">Motion detector on</p> 
                            <form action="/motionsensor/on" method="post">
                                <p class="image-name">
                                    <button name="on"> 

                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"> 
                                            </span>
                                        </label>

                                </button></p> 
                            </form>
                       
                            <p class="image-name">Motion detector off</p> 

                   
                            <form action="/motionsensor/off" method="post">
                                <p class="image-name">
                                    <button name = "off"> 
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"> 

                                    </span>
                                </label>

                                    </button></p> 
                            </form>
                       
                    
            
        </div> 

          <div class="image-switch">
                    <img src="/static/images/services/light.jpg" alt="light" width="300" height="300">
                     <p class="image-name">Light on</p> 
                            <form action="/light/on" method="post">
                                <p class="image-name">
                                    <button name="on"> 

                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"> 
                                            </span>
                                        </label>

                                </button></p> 
                            </form>
                       
                            <p class="image-name">Light off</p> 

                   
                            <form action="/light/off" method="post">
                                <p class="image-name">
                                    <button name = "off"> 
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"> 

                                    </span>
                                </label>

                                    </button></p> 
                            </form>
                       
                    
            
        </div> 
        
        

          
             
       
    </div>
</section>





















































<footer>
    <p>
        Created with by
        <a target="_blank" href="#">TEAM RADIEN   HTU  </a>
        <a target="_blank" href="#">(c) Global Code Camp 2023</a>.
    </p>
</footer>





</body>
</html>

   