<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOSTECH</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav>
    <ul class="navbar">
        <li><a href="homepage.html" class="col1">HOSTECH</a></li>
        <li><a href="homepage.html">Home</a></li>
        <li><a class="active" href="services.html">Services</a></li>
        <li><a href="info.html">Info</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="index.html">Sign Out</a></li>
    </ul>
</nav>





<section>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-4">
            <div class="card card_red text-center">
              <div class="title">
                  <img src="/static/images/services/door.jpg" alt="door" width="300" height="300">
                <h2>Door Control</h2>
              </div>
              <form action="/door/on" method="post">
             <button>Door Open</button> 
             </form>
             <form action="/door/off" method="post">
            <button> Door Close </button>
            </form>
            </div>
          </div>
          


             <div class="col-sm-4">
            <div class="card card_red text-center">
              <div class="title">
                <img src="/static/images/services/ceiling-fan.jpg" alt="light" width="300" height="300">
                <h2>Room Control</h2>
              </div>
              <form action="/motionsensor/on" method="post">             <button>Control on</button> 
             </form>
             <form action="/motionsensor/off" method="post">            <button> Control off </button>
            </form>
            </div>
          </div>
          

          <div class="col-sm-4">
            <div class="card card_red text-center">
              <div class="title">
                <img src="/static/images/services/light.jpg" alt="light" width="300" height="300">
                <h2>Light Control</h2>
              </div>
              <form action="/light/on" method="post">
                <button> Light on </button>

            </form>
            <form action="/light/off" method="post">
                <button> Light off </button>
            </form>
            </div>
          </div>
          </div>
  
   
       
    
          
         
          </div>
        </div>
      </div>
    
  </section> 




<footer>
    <p>
        Created with by
        <a target="_blank" href="#">TEAM RADIEN   HTU  </a>
        <a target="_blank" href="#">(c) Global Code Camp 2023</a>.
    </p>
</footer>





</body>
</html>

   